:root {
  --theme-brand-orange-content-color: #FF8000;
  --layout-bottom-rail-height: 0px;
  --font-stack-tiempos-headline: TiemposHeadlineWeb, Georgia, serif, ColorEmoji;
  --theme-privacy-close-friend-outline-content-color-rgb: 255,230,249;
  --figure-frame-border-radius-large: .5rem;
  --panel-background: #456;
  --theme-metadata-low-contrast-hover-content-color: #89a;
  --theme-metadata-active-content-color: #567;
  --theme-surface-color-rgb: 40,48,56;
  --theme-button-primary-surface-color-rgb: 0,172,28;
  --site-body-padding-block: 2rem;
  --spacing-large: 1.25rem;
  --theme-body-link-active-content-color-rgb: 32,156,228;
  --timing-duration-in: calc(1s * 1 / 3);
  --scrollingelement-scrollbar-adjustment-inline-end: 0px;
  --theme-button-destructive-hover-surface-color-rgb: 236,18,0;
  --panel-outlined-border-color-alpha: .33333333;
  --spacing-dense-medium: .375rem;
  --delimiter-margin-inline: .25em;
  --border-width-thicker: max(3px, .1875rem);
  --theme-brand-green-active-surface-color-rgb: 0,153,38;
  --theme-interactable-hover-content-color: #fff;
  --border-width-thin-hidpi: max(1px, .0625rem);
  --panel-divider-contrast-alpha: .5;
  --theme-interactable-content-color: #def;
  --poster-inset-background: #21282F;
  --theme-button-primary-active-content-color-rgb: 203,234,211;
  --theme-privacy-close-friend-surface-color: #FF30D0;
  --theme-button-primary-surface-color: #00AC1C;
  --theme-body-high-contrast-content-color: #abc;
  --border-radius-xxsmall: .0625rem;
  --panel-content-link: #def;
  --theme-body-low-contrast-content-color-rgb: 136,153,170;
  --spacing-xlarge: 1.5rem;
  --theme-brand-orange-content-color-rgb: 255,128,0;
  --theme-button-destructive-hover-content-color: #fff;
  --theme-button-default-surface-color: #567;
  --panel-inner-padding-default-loose: .75rem;
  --theme-body-high-contrast-hover-content-color-rgb: 187,204,221;
  --dialog-panel-large-width: 58.6875rem;
  --input-ios-minimum-font-size: 1rem;
  --poster-dummy-surface-color-rgb: 51,68,85;
  --theme-button-default-content-color: #C8D4E0;
  --heading-2-line-height: 1.25;
  --theme-interactable-content-color-rgb: 221,238,255;
  --theme-metadata-low-contrast-active-content-color-rgb: 68,85,102;
  --backdrop-aspect-ratio: 16 / 9;
  --title-all-caps-letter-spacing: .075em;
  --theme-metadata-low-contrast-content-color: #567;
  --poster-overlay-default-border-tint: #DEF;
  --theme-rating-icon-color-rgb: 0,192,48;
  --theme-rating-blended-accent-color-rgb: 136,153,170;
  --control-legacy-border-radius: .1875rem;
  --theme-separator-reversed-color-rgb: 187,204,221;
  --title-all-caps-large-font-size: .875rem;
  --timing-duration-out: .5s;
  --focus-outline-color-rgb: 32,156,228;
  --dialog-panel-small-width: 38rem;
  --panel-inner-padding-large: 1.25rem;
  --figure-frame-focus-color-alpha: .5;
  --theme-rating-active-primary-accent-color: #15953B;
  --theme-button-default-active-highlight-color-alpha: .05;
  --panel-content-medium-high-contrast: #bcd;
  --theme-privacy-close-friend-content-color: #FFCDF3;
  --poster-shadow-radius-b: 10px;
  --theme-privacy-close-friend-outline-content-color: #FFE6F9;
  --theme-body-link-active-content-color: #209CE4;
  --theme-brand-orange-surface-color-rgb: 238,112,0;
  --link-interaction-color: #40BCF4;
  --panel-divider-alpha: calc(2 / 3);
  --theme-fill-hover-color: #789;
  --control-large-border-radius: .375rem;
  --overlay-control-border-color-alpha: .125;
  --theme-button-default-active-surface-color: #456;
  --theme-button-destructive-hover-surface-color: #ec1200;
  --theme-control-highlight-color: rgba(255,255,255, .1);
  --theme-body-link-content-color: #def;
  --theme-metadata-content-color-rgb: 102,119,136;
  --spacing-dense-large: .5rem;
  --panel-content-low-contrast: #89a;
  --title-all-caps-line-height: 1.25;
  --spacing-medium-unitless: 1;
  --spacing-small-unitless: .75;
  --site-header-height: 72px;
  --dialog-panel-padding: 1.5rem;
  --control-medium-height: 2rem;
  --overlay-control-border-color-rgb: 0,0,0;
  --theme-fill-active-color-rgb: 51,68,85;
  --theme-button-primary-active-surface-color: #009926;
  --body-large-font-size: 1.0625rem;
  --theme-button-primary-content-color-rgb: 244,252,240;
  --dialog-panel-xxsmall-width: 22.5rem;
  --skeleton-content-fade-in-blur-start: .125rem;
  --theme-button-primary-content-color: #F4FCF0;
  --panel-divider-contrast-rgb: 136,153,170;
  --figure-frame-hover-color-alpha: calc(1 / 3);
  --spacing-adjacent-listing: 1rem;
  --theme-button-destructive-content-color: #C8D4E0;
  --theme-control-shadow-color-rgb: 0,0,0;
  --theme-heading-hover-content-color-rgb: 64,188,244;
  --focus-outline-offset-medium: .125rem;
  --timing-function-ease-in-back: cubic-bezier(.6, -.28, .735, .045);
  --theme-metadata-high-contrast-hover-content-color-rgb: 170,187,204;
  --panel-inner-padding-large-compact: 1rem;
  --theme-rating-primary-accent-color-rgb: 0,192,48;
  --heading-4-font-size: 1.125rem;
  --body-large-line-height: 1.5;
  --theme-button-default-active-content-color: #abc;
  --drag-target-outline-color-rgb: 0,224,84;
  --duration-xlong: 2s;
  --theme-rating-icon-color: #00C030;
  --heading-6-font-size: .9375rem;
  --poster-no-image-background: #1F282F;
  --heading-6-line-height: 1.25;
  --theme-metadata-high-contrast-active-content-color-rgb: 102,119,136;
  --grid-column-width-fixed: 5rem;
  --page-content-constraint-column-count: 12;
  --control-small-height: 1.5rem;
  --figure-frame-color-alpha: .25;
  --theme-rating-active-primary-accent-color-rgb: 21,149,59;
  --theme-button-destructive-active-content-color: #fff;
  --theme-separator-secondary-color: #283038;
  --body-meta-font-size: .75rem;
  --theme-privacy-close-friend-surface-color-rgb: 255,48,208;
  --theme-button-destructive-active-surface-color: #c40f00;
  --viewport-safe-area-inset-right: 0px;
  --theme-brand-green-surface-color: #00AC1C;
  --panel-divider-contrast: #89a;
  --focus-outline-color-alpha: .9;
  --spacing-adjacent-listing-block-end: 1.25rem;
  --theme-separator-color-rgb: 68,85,102;
  --panel-outlined-content: #89a;
  --panel-background-high-contrast-rgb: 51,68,85;
  --delimiter-alpha: calc(2 / 3);
  --theme-brand-green-hover-surface-color: #00C030;
  --theme-body-low-contrast-content-color: #89a;
  --theme-heading-content-color: #fff;
  --theme-rating-surface-color-rgb: 60,69,79;
  --link-interaction-color-rgb: 64,188,244;
  --poster-overlay-default-box-shadow-color: rgba(20, 24, 28, .25);
  --control-large-height: 2.375rem;
  --theme-focus-color: rgba(32,156,228, .9);
  --theme-button-default-active-shadow-color-alpha: 0;
  --skeleton-pulse-animation-in-opacity: calc(1 / 3);
  --theme-button-primary-hover-content-color: #fff;
  --page-gutter-width-ratio: calc((64 - 5 * 12) / 64 * .5);
  --panel-outlined-border-color-rgb: 136,153,170;
  --dimension-pointer-target: 2.75rem;
  --theme-button-default-hover-content-color-rgb: 255,255,255;
  --spacing-xsmall: .625rem;
  --link-interaction-active-color-rgb: 32,156,228;
  --control-xlarge-height: 2.625rem;
  --poster-background-color: #12161A;
  --spacing-sparse-large: 4rem;
  --grid-column-gap-total: calc(5px * 2);
  --theme-metadata-high-contrast-content-color: #789;
  --theme-privacy-close-friend-content-color-rgb: 255,205,243;
  --theme-separator-secondary-color-rgb: 40,48,56;
  --theme-button-default-active-content-color-rgb: 170,187,204;
  --panel-background-low-contrast: #567;
  --layout-content-gutter: 20px;
  --layout-ad-footer-offset: calc(0px + 0px);
  --theme-fill-color: #456;
  --panel-inner-padding-large-loose: 1.5rem;
  --duration-xshort: .15s;
  --panel-inner-padding-semi-large: .875rem;
  --theme-control-highlight-color-rgb: 255,255,255;
  --dialog-panel-medium-width: 45.3125rem;
  --spacing-grid-gutter: 5px;
  --theme-button-destructive-hover-content-color-rgb: 255,255,255;
  --panel-content-link-interaction: #40BCF4;
  --border-radius-xsmall: .125rem;
  --page-gutter-width-fixed: 1.5rem;
  --dialog-panel-xlarge-width: 74.6875rem;
  --panel-border-radius-default: .5rem;
  --panel-inner-padding-default: .625rem;
  --heading-7-line-height: 1.25;
  --block-divider-lowcontrast-color-rgb: 44,52,64;
  --theme-background-color-rgb: 20,24,28;
  --theme-button-primary-hover-content-color-rgb: 255,255,255;
  --theme-heading-active-content-color-rgb: 32,156,228;
  --figure-frame-color-rgb: 221,238,255;
  --cyclorama-surface-blur-radius: .5rem;
  --spacing-xlarge-unitless: 1.5;
  --attribution-block-adjacent-block-margin: .625rem;
  --viewport-safe-area-inset-x: calc(0px + 0px);
  --heading-8-line-height: 1.25;
  --theme-metadata-high-contrast-content-color-rgb: 119,136,153;
  --overlay-control-reversed-surface-color-rgb: 204,221,238;
  --production-header-block-space-end: 1.5rem;
  --control-medium-border-radius: .25rem;
  --theme-background-color: #14181C;
  --theme-metadata-low-contrast-hover-content-color-rgb: 136,153,170;
  --body-medium-font-size: .9375rem;
  --font-stack-pitch-sans: PitchSansWeb, Menlo, "Droid Sans Mono", "Lucida Console", Consolas, Monaco, Courier, monospace, ColorEmoji;
  --focus-outline: max(2px, .125rem) solid rgba(32,156,228, .9);
  --theme-button-primary-hover-surface-color: #00C030;
  --theme-brand-green-content-color: #00E054;
  --poster-border-radius-large: 8px;
  --theme-metadata-low-contrast-content-color-rgb: 85,102,119;
  --spacing-xsmall-unitless: .625;
  --theme-button-destructive-surface-color-rgb: 85,102,119;
  --theme-button-default-hover-content-color: #fff;
  --panel-inner-padding-semi-large-compact: .625rem;
  --duration-long: 1s;
  --theme-button-primary-content-shadow-color-rgb: 0,116,3;
  --poster-dummy-surface-color: rgba(51,68,85, .1);
  --title-all-caps-font-size: .8125rem;
  --panel-inner-padding-semi-large-loose: 1.125rem;
  --panel-content-high-contrast: #cde;
  --border-width-thin: max(1px, .0625rem);
  --figure-frame-border-width: max(1px, .0625rem);
  --theme-rating-primary-accent-color: #00C030;
  --body-small-font-size: .8125rem;
  --poster-meta-border-radius: 2px;
  --theme-button-default-hover-surface-color: #678;
  --page-gutter-width: min(calc(calc((64 - 5 * 12) / 64 * .5) * 100%), 1.5rem);
  --theme-brand-green-content-color-rgb: 0,224,84;
  --poster-aspect-ratio: 2 / 3;
  --heading-7-font-size: .875rem;
  --poster-shadow-radius-a: 5px;
  --layout-trendi-video-height: 0px;
  --theme-brand-orange-surface-color: #EE7000;
  --panel-heading: #fff;
  --skeleton-pulse-animation-out-opacity: 0;
  --heading-5-font-size: 1rem;
  --panel-content-link-interaction-active: #209CE4;
  --theme-button-primary-active-surface-color-rgb: 0,153,38;
  --panel-border-radius-medium: .375rem;
  --theme-body-link-content-color-rgb: 221,238,255;
  --theme-fill-color-rgb: 68,85,102;
  --panel-outlined-border-color: #89a;
  --spacing-adjacent-component: 1.5rem;
  --theme-button-default-active-surface-color-rgb: 68,85,102;
  --spacing-sparse-small: 2rem;
  --font-stack-tiempos-text: TiemposTextWeb, Georgia, serif, ColorEmoji;
  --poster-placeholder-background: #12161A;
  --page-gutter-width-percentage: calc(calc((64 - 5 * 12) / 64 * .5) * 100%);
  --spacing-sparse-large-unitless: 4;
  --theme-body-high-contrast-active-content-color: #9ab;
  --figure-frame-border-radius-default: .25rem;
  --panel-outlined-heading: #bcd;
  --theme-button-progress-background-surface-color: #007403;
  --dialog-panel-xsmall-width: 28.5rem;
  --heading-8-font-size: .8125rem;
  --spacing-dense-small: .25rem;
  --poster-border-radius: 3px;
  --dropdown-fade-in-duration: .15s;
  --display-name-max-length: 25ch;
  --theme-metadata-low-contrast-active-content-color: #456;
  --theme-brand-green-surface-color-rgb: 0,172,28;
  --panel-border-radius-large: 1rem;
  --timing-function-ease-out-back: cubic-bezier(.175, .885, .32, 1.275);
  --section-heading-minor-font-size: .9375rem;
  --page-content-width-fluid: calc(100% - (calc(calc((64 - 5 * 12) / 64 * .5) * 100%) * 2));
  --theme-body-content-color-rgb: 153,170,187;
  --page-content-wing-width: 5rem;
  --panel-inner-padding-default-compact: .5rem;
  --theme-metadata-content-color: #678;
  --body-small-line-height: 1.5;
  --theme-button-primary-content-shadow-color: #007403;
  --theme-body-link-hover-content-color-rgb: 64,188,244;
  --theme-metadata-high-contrast-hover-content-color: #abc;
  --control-small-border-radius: .1875rem;
  --title-all-caps-small-font-size: .6875rem;
  --poster-overlay-interaction-border-width: 3px;
  --theme-body-content-color: #9ab;
  --layout-flex-leaderboard-height: 0px;
  --theme-like-icon-color: #FF9933;
  --overlay-control-surface-color-alpha: calc(2 / 3);
  --timing-function-ease-out-expo: cubic-bezier(.19, 1, .22, 1);
  --theme-focus-color-rgb: 32,156,228;
  --heading-2-font-size: 1.6875rem;
  --spacing-small: .75rem;
  --heading-3-font-size: 1.375rem;
  --panel-content: #abc;
  --base-line-height: 1.5;
  --theme-body-high-contrast-active-content-color-rgb: 153,170,187;
  --theme-separator-color: #456;
  --poster-dummy-surface-color-alpha: .1;
  --theme-body-high-contrast-content-color-rgb: 187,204,221;
  --viewport-safe-area-inset-left: 0px;
  --body-meta-line-height: 1.5;
  --body-medium-line-height: 1.5;
  --spacing-medium: 1rem;
  --theme-control-highlight-color-alpha: .1;
  --panel-border-radius-small: .25rem;
  --spacing-sparse-medium-unitless: 3;
  --theme-body-link-hover-content-color: #40BCF4;
  --spacing-sparse-small-unitless: 2;
  --theme-heading-content-color-rgb: 255,255,255;
  --overlay-control-surface-blur-radius: .25rem;
  --theme-brand-green-active-surface-color: #009926;
  --page-content-constraint-ratio: (1 - calc((64 - 5 * 12) / 64 * .5) * 2);
  --theme-metadata-active-content-color-rgb: 85,102,119;
  --theme-brand-heading-content-color: #fff;
  --theme-heading-hover-content-color: #40BCF4;
  --heading-4-line-height: 1.25;
  --viewport-safe-area-inset-bottom: 0px;
  --theme-heading-active-content-color: #209CE4;
  --viewport-safe-area-inset-y: calc(0px + 0px);
  --page-content-width: min(calc(5rem * 12), calc(100% - (calc(calc((64 - 5 * 12) / 64 * .5) * 100%) * 2)));
  --modal-margin: 1.5rem;
  --focus-outline-offset-small: .0625rem;
  --theme-button-primary-content-shadow-color-alpha: .4;
  --theme-button-primary-active-content-color: #CBEAD3;
  --theme-button-primary-hover-surface-color-rgb: 0,192,48;
  --spacing-sparse-medium: 3rem;
  --cyclorama-surface-color-alpha: .875;
  --heading-1-font-size: 2rem;
  --poster-border-radius-small: 2px;
  --poster-border-width: 1px;
  --theme-button-default-surface-color-rgb: 85,102,119;
  --theme-interactable-active-content-color: #cde;
  --heading-1-line-height: 1.125;
  --cyclorama-surface-color-rgb: 20,24,28;
  --theme-interactable-active-content-color-rgb: 204,221,238;
  --theme-metadata-hover-content-color-rgb: 153,170,187;
  --border-radius-small: .25rem;
  --page-content-width-fixed: calc(5rem * 12);
  --figure-frame-active-color-alpha: .1;
  --viewport-safe-area-inset-top: 0px;
  --block-divider-color-rgb: 68,85,102;
  --spacing-dense-small-unitless: .25;
  --figure-frame-border-radius-small: .125rem;
  --theme-button-destructive-active-content-color-rgb: 255,255,255;
  --theme-rating-blended-accent-color: #89a;
  --theme-like-icon-color-rgb: 255,153,51;
  --panel-background-low-contrast-rgb: 85,102,119;
  --panel-background-high-contrast: #345;
  --border-width-thick: max(2px, .125rem);
  --poster-shadow-tint: 0,0,0;
  --panel-background-rgb: 68,85,102;
  --skeleton-pulse-animation-opacity-offset: .2;
  --theme-metadata-hover-content-color: #9ab;
  --theme-button-default-content-color-rgb: 200,212,224;
  --theme-metadata-high-contrast-active-content-color: #678;
  --panel-divider-rgb: 44,52,64;
  --theme-button-destructive-content-color-rgb: 200,212,224;
  --theme-rating-surface-color: #3C454F;
  --panel-divider: #2C3440;
  --theme-button-default-hover-surface-color-rgb: 102,119,136;
  --spacing-dense-medium-unitless: .375;
  --font-stack-graphik: GraphikWeb, -apple-system, BlinkMacSystemFont, "Segoe UI", "Hiragino Sans", Meiryo, sans-serif, ColorEmoji;
  --theme-surface-color: #283038;
  --heading-3-line-height: 1.25;
  --drag-target-outline-width: max(3px, .1875rem);
  --theme-button-destructive-active-surface-color-rgb: 196,15,0;
  --duration-medium: .5s;
  --theme-button-destructive-surface-color: #567;
  --easing-default: cubic-bezier(.19, 1, .22, 1);
  --overlay-control-border-width: max(1px, .0625rem);
  --overlay-control-reversed-stroke-color-rgb: 102,119,136;
  --theme-control-shadow-color: rgba(0,0,0, .25);
  --theme-separator-reversed-color: #bcd;
  --spacing-large-unitless: 1.25;
  --spacing-dense-large-unitless: .5;
  --duration-short: calc(1s * 1 / 3);
  --theme-fill-active-color: #345;
  --theme-body-high-contrast-hover-content-color: #bcd;
  --theme-fill-hover-color-rgb: 119,136,153;
  --link-interaction-active-color: #209CE4;
  --theme-interactable-hover-content-color-rgb: 255,255,255;
  --theme-brand-green-hover-surface-color-rgb: 0,192,48;
  --heading-5-line-height: 1.25;
  --overlay-control-surface-color-rgb: 51,68,85;
  --theme-brand-heading-content-color-rgb: 255,255,255;
}